<%- include('./partials/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; font-family: Arial"
>
  <h3>You have been verified!</h3>
  <p>Hey there!</p>
  <div>
    This is to notify you that you have been added as a super admin on the PMO platform. Click the <a href='<%= url %>/admin/signin'>link</a> to signin
  </div>
   
</div>